<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <h1>Members Only</h1>
    <% if member_signed_in? %>
      <%= link_to "Edit Account", edit_member_registration_path %>
      <%= link_to "Sign Out", destroy_member_session_path, method: :delete %>   
    <% else %>
      <%= link_to "Sign Up", new_member_registration_path %>
      <%= link_to "Sign In", new_member_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
